
/************************************BASICS******************************************/ 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





/************************************SHARED******************************************/
.uppercase {
    text-transform: uppercase;
}

* {
    --color-purple: #6F2564;
    --color-light-purple: #E0A2D7;
    --color-dark-purple: #491842;
    --color-pink: #C249B0;
    --color-grey: rgb(208 204 204 / 51%);
    --color-lightest-grey: rgb(208 204 204);
    --color-light-grey: #c8c2c2ba;
    --color-dark-grey: rgb(92, 91, 91);
    --color-black: black;
    --color-white: white;
}



/************************************NAV*********************************************/
.nav {
    width: 100vw;
    height: 100px;

    background-color: var(--color-purple);

    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;

    z-index: 999;
}

.nav-container {
    width: 85vw;
    height: auto;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


/**********************brand************************/
.brand {
    text-decoration: none;
}

.brand:hover {
    transform: scale(1.1);
    transition: 0.8s;
}

.brand h1 {
    color: var(--color-lightest-grey);
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}



/**********************navigation************************/
.nav-itself a {
    display: inline-block;
    text-align: center;

    padding: 10px 5px;
    border-radius: 20px;

    color: var(--color-lightest-grey);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.nav-itself a:not(:first-child) {
    margin-left: 20px;
}

.nav-itself a:hover {
    transform: scale(1.1);
    transition: 0.8s;

    border: 1px solid var(--color-grey);
    border-radius: 20px;
}

.nav-itself li {
    list-style: none;
}





/************************************HERO*********************************************/
.hero {
    width: 100vw;
    height: auto;
    padding: 20vh 0 10vh 0;

    background-color: var(--color-purple);
}

.hero-container {
    width: 85vw;
    height: auto;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

/**********************hero-text-container************************/
.hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    color: var(--color-lightest-grey);
}

.hero-h2 span {
    display: block;
}

.hero-btn {
    color: var(--color-dark-purple);
    font-size: 25px;
    background-color: var(--color-lightest-grey);
    text-decoration: none;
    text-transform: uppercase;
    
    width: 20vw;
    text-align: center;
    padding: 10px 5px;
    border: 1px solid var(--color-white);
    border-radius: 20px;
}

.hero-btn:hover {
    background-color: var(--color-light-grey);

    transform: scale(1.1);
    transition: 0.8s;
}


/**********************hero-img-container************************/
.hero-img-container {
    width: 350px;
    height: 350px;
}

.hero-img {
    width: 100%;
    height: 100%;
    
    background-image: url(/files/images/cv\ foto.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    border: 1px solid var(--color-white);
    border-radius: 50%;
}





/************************************MAIN*********************************************/
.main {
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
    row-gap: 10vh;

    background-color: var(--color-grey);
}


/**********************intro************************/
.intro {
    width: 85vw;
    height: auto;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
}

.h2 {
    text-align: center;
    font-size: 40px;
    color: var(--color-purple);
}

.intro h3 {
    font-size: 30px;

    text-align: center;
    margin-bottom: 3vh;
}

.intro p {
    font-size: 17px;
}

.status-item {
    border: 1px solid var(--color-black);
    border-radius: 50px;
    padding: 0.5rem 0.2rem;
    text-align: center;

    background-color: var(--color-purple);
    color: var(--color-lightest-grey);

    display: flex;
    justify-content: center;
    align-items: center;
} 

.status-item p {
    font-size: 20px;
    font-weight: 700;
}

/***********h2-intro**********/
.h2-intro {
    grid-column: 5 / 8;
    grid-row: 2 / 3;
}

/***********why-it**********/
.why-it {
    grid-column: 1 / 6;
    grid-row: 4 / 9;

    border: 1 px solid var(--color-grey);
    border-radius: 10px;
}

/***********why-cz**********/
.why-cz {
    grid-column: 7 / 12;
    grid-row: 4 / 9;

    border: 1 px solid var(--color-grey);
    border-radius: 10px;
}

/***********current-adress**********/
.current-address {
    grid-column: 1 / 6;
    grid-row: 10 / 11;
}

/***********family-status**********/
.family-status {
    grid-column: 10 / 12;
    grid-row: 9 / 10;
}

/***********job-situation**********/
.job-situation {
    grid-column: 7 / 12;
    grid-row: 10 / 11;
}

/*************age******************/
.age {
    grid-column: 3 / 6;
    grid-row: 9 / 10;
}

/***********nationality***********/
.nationality {
    grid-column: 1 / 3;
    grid-row: 9 / 10;
}

/***********education***********/
.education {
    grid-column: 7 / 10;
    grid-row: 9 / 10;
}


/*************************************skills*******************************/
#skills {
    width: 100%;
    height: auto;

    background-color: var(--color-purple);
}

.skills-container {
    width: 85vw;
    height: auto;
    margin: 0 auto;

    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.skills-container h3 {
    font-size: 30px;
    color: var(--color-purple);
    font-weight: 700;
    text-align: center;
}

#skills .h2 {
    color: var(--color-lightest-grey);
}

.skills-container p {
    font-size: 20px;
    text-align: center;
}

.skills-container div {
    border-radius: 10px;
    padding: 1vh 0;

    background-color: var(--color-lightest-grey);
}


/***********h2-skills*********/
.h2-skills {
    grid-column: 5 / 8;
    grid-row: 2 / 3;
}

/***********html*********/
.html {
    grid-column: 1 / 6;
    grid-row: 3 / 4;

    background-color: var(--color-light-purple);
}

/***********css***********/
.css {
    grid-column: 7 / 12;
    grid-row: 3 / 4;

    background-color: var(--color-light-purple);
}

/********git-github*******/
.git-github {
    grid-column: 7 / 12;
    grid-row: 4 / 5;

    background-color: var(--color-purple);
}

/***********canva***********/
.canva {
    grid-column: 7 / 12;
    grid-row: 5 / 6;

    background-color: var(--color-light-purple);
}

/***********js***********/
.js {
    grid-column: 1 / 6;
    grid-row: 4 / 5;

    background-color: var(--color-purple);
}

/********eng-language******/
.eng-language {
    grid-column: 1 / 6;
    grid-row: 5 / 6;

    background-color: var(--color-light-purple);
}

/********cze-language********/
.cze-language {
    grid-column: 1 / 6;
    grid-row: 6 / 7;

    background-color: var(--color-purple);
}

/********svk-language********/
.svk-language {
    grid-column: 7 / 12;
    grid-row: 6 / 7;

    background-color: var(--color-purple);
}

/***********ms-office*******/
.ms-office {
    grid-column: 7 / 12;
    grid-row: 7 / 8;

    background-color: var(--color-light-purple);
}

/***********online-mkt*******/
.online-mkt {
    grid-column: 1 / 6;
    grid-row: 7 / 8;

    background-color: var(--color-light-purple);
}






/*******************************projects********************************/
#projects {
    width: 85vw;
    height: auto;
    margin: 0 auto;

    text-align: center;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.h2-projects {
    grid-column: 5 / 8;
    grid-row: 1 / 2;
}

.project1 {
    grid-column: 1 / 4;
    grid-row: 3 / 15;
}

.project2 {
    grid-column: 5 / 8;
    grid-row: 3 / 15;
}

.project3 {
    grid-column: 9 / 12;
    grid-row: 3 / 15;
}

.project1, 
.project2,
.project3 {
    border-radius: 10px;
    padding: 2vh 1vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--color-grey);
}

.projects h3 {
    font-size: 25px;
}

#projects p {
    font-size: 18px;
}

#projects a {
    font-weight: 700;
    text-decoration: none;
    background-color: var(--color-purple);
    color: var(--color-white);

    border-radius: 10px;
    padding: 10px 10px;
    align-self: center;
}

.projects a:hover {
    transform: scale(1.05);
    transition: 0.8s;
}

.project-img-container {
    width: 100%;
    height: 60%;
}

.project1-img {
    background-image: url(/files/images/alexey-fedenkov-BaCZYH9RLmQ-unsplash.jpg);
}

.project2-img {
    background-image: url(/files/images/anneliese-phillips-uv4-vl3liKM-unsplash.jpg);
}

.project3-img {
    background-image: url(/files/images/daniel-tseng-73lmMKhi2U8-unsplash.jpg);
}

.project1-img,
.project2-img,
.project3-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
}





/********************************future*********************************/
#future {
    width: 100%;
    height: auto;

    background-color: var(--color-purple);
}

.future-container {
    width: 85vw;
    height: auto;
    margin: 0 auto;

    text-align: center;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(14, 1fr);
    gap: 1rem;
}

#future .h2 {
        color: var(--color-lightest-grey);
}

#future .h3 {
    font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#future h4 {
    font-size: 20px;
}

#future div {
    border-radius: 10px;
}

/***********h2-future***********/
.h2-future {
    grid-column: 5 / 8;
    grid-row: 2 / 3;
}

/***********h3-future-projects***********/
.h3-future-projects {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    
    color: var(--color-lightest-grey);
}

/***********future-project1***********/
.future-project1 {
    grid-column: 1 / 6;
    grid-row: 4 / 5;

    background-color: var(--color-light-purple);

    padding: 0 1vw;
}

/***********future-project2***********/
.future-project2 {
    grid-column: 1 / 6;
    grid-row: 5 / 6;

    background-color: var(--color-lightest-grey);

    padding: 0 1vw;
}

/***********future-project3***********/
.future-project3 {
    grid-column: 1 / 6;
    grid-row: 6 / 7;

    background-color: var(--color-light-purple);

    padding: 0 1vw;
}

/***********future-project4***********/
.future-project4 {
    grid-column: 1 / 6;
    grid-row: 7 / 8;

    background-color: var(--color-lightest-grey);

    padding: 0 1vw;
}

/***********future-project5***********/
.future-project5 {
    grid-column: 1 / 6;
    grid-row: 8 / 9;

    background-color: var(--color-light-purple);

    padding: 0 1vw;
}

/***********future-project6***********/
.future-project6 {
    grid-column: 1 / 6;
    grid-row: 9 / 10;

    background-color: var(--color-lightest-grey);

    padding: 0 1vw;
}

/***********future-project7***********/
.future-project7 {
    grid-column: 1 / 6;
    grid-row: 10 / 11;

    background-color: var(--color-light-purple);

    padding: 0 1vw;
}

/***********future-project8***********/
.future-project8 {
    grid-column: 1 / 6;
    grid-row: 11 / 12;

    background-color: var(--color-lightest-grey);

    padding: 0 1vw;
}

/***********future-project9***********/
.future-project9 {
    grid-column: 1 / 6;
    grid-row: 12 / 13;

    background-color: var(--color-light-purple);

    padding: 0 1vw;
}

/***********future-project10***********/
.future-project10 {
    grid-column: 1 / 6;
    grid-row: 13 / 14;

    background-color: var(--color-lightest-grey);

    padding: 0 1vw;
}

/***********h3-future-education***********/
.h3-future-education {
    grid-column: 8 / 11;
    grid-row: 3 / 4;

    color: var(--color-lightest-grey);
}

/***********future-education1***********/
.future-education1 {
    grid-column: 7 / 10;
    grid-row: 4 / 6;

    background-color: var(--color-light-purple);

    padding: 3vh 1vw;
}

/***********future-education2***********/
.future-education2 {
    grid-column: 10 / 12;
    grid-row: 4 / 6;

    background-color: var(--color-lightest-grey);

    padding: 3vh 1vw;
}

/***********future-education3***********/
.future-education3 {
    grid-column: 7 / 9;
    grid-row: 6 / 8;

    background-color: var(--color-lightest-grey);

    padding: 3vh 1vw;
}

/***********future-education4***********/
.future-education4 {
    grid-column: 9 / 12;
    grid-row: 6 / 8;

    background-color: var(--color-light-purple);

    padding: 3vh 1vw;
}

/***********future-education5***********/
.future-education5 {
    grid-column: 7 / 10;
    grid-row: 8 / 10;

    background-color: var(--color-light-purple);

    padding: 3vh 1vw;
}

/***********future-education6***********/
.future-education6 {
    grid-column: 10 / 12;
    grid-row: 8 / 10;

    background-color: var(--color-lightest-grey);

    padding: 3vh 1vw;
}

/***********h3-future-jobs***********/
.h3-future-jobs {
    grid-column: 8 / 11;
    grid-row: 10 / 11;
    
    color: var(--color-lightest-grey);
}

/***********future-jobs1***********/
.future-jobs1 {
    grid-column: 7 / 12;
    grid-row: 11 / 13;

    background-color: var(--color-light-purple);

    padding: 4vh 0;
}

/***********future-jobs2***********/
.future-jobs2 {
    grid-column: 7 / 12;
    grid-row: 13 / 14;

    background-color: var(--color-lightest-grey);
}





/**********************************reviews*******************************/
#reviews {
    width: 85vw;
    height: auto;
    margin: 0 auto;

    text-align: center;
}

.reviews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3rem;
}

.review {
    flex-basis: calc(100% / 3 - 5rem);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 2rem;

    border-radius: 10px;
    padding: 2vh 1vw;

    background-color: var(--color-grey);
}

.review p {
    font-size: 20px;
}

.h2-reviews {
    margin-bottom: 3rem;
}

.review-name h3 {
    font-size: 24px;
    text-transform: uppercase;
    color: var(--color-purple);
}





/********************************interests********************************/
#interests {
    width: 100%;
    height: auto;

    background-color: var(--color-purple);
}

.interests-container {
    width: 85vw;
    height: auto;
    margin: 0 auto;

    text-align: center;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 1rem;
}

#interests .h2 {
    color: var(--color-lightest-grey);
}

.interest-dogs,
.interest-family,
.interest-food,
.interest-hiking,
.interest-hockey,
.interest-mma,
.interest-movies,
.interest-tattoos,
.interest-travelling {
    position: relative;
}

.interests-container h3 {
    font-size: 25px;
    text-transform: uppercase;

    position: absolute;
    left: 15px;
    top: 15px;
}

.interest-img-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.h2-interests {
    grid-column: 5 / 8;
    grid-row: 2 / 3;
}

.interest-family {
    grid-column: 1 / 4;
    grid-row: 4 / 8;
}

.interests-img-family {
    width: 100%;
    height: 100%;

    background-image: url(/files/images/alexey-fedenkov-BaCZYH9RLmQ-unsplash.jpg);
}

.interest-food {
    grid-column: 4 / 5;
    grid-row: 4 / 11;
}

.interests-img-food {
    width: 100%;
    height: 100%;

    background-image: url(/files/images/alexey-fedenkov-BaCZYH9RLmQ-unsplash.jpg);
}

.interest-travelling {
    grid-column: 1 / 4;
    grid-row: 8 / 11;
}

.interests-img-travelling {
    width: 100%;
    height: 100%;

    background-image: url(/files/images/alexey-fedenkov-BaCZYH9RLmQ-unsplash.jpg);
}

.interest-movies {
    grid-column: 5 / 7;
    grid-row: 8 / 11;
}

.interests-img-movies {
    width: 100%;
    height: 100%;

    background-image: url(/files/images/alexey-fedenkov-BaCZYH9RLmQ-unsplash.jpg);
}

.interest-hiking {
    grid-column: 5 / 8;
    grid-row: 4 / 8;
}

.interests-img-hiking {
    width: 100%;
    height: 100%;

    background-image: url(/files/images/alexey-fedenkov-BaCZYH9RLmQ-unsplash.jpg);
}

.interest-tattoos {
    grid-column: 8 / 12;
    grid-row: 4 / 6;
}

.interests-img-tattoos {
    width: 100%;
    height: 100%;

    background-image: url(/files/images/alexey-fedenkov-BaCZYH9RLmQ-unsplash.jpg);
}

.interest-hockey {
    grid-column: 7 / 11;
    grid-row: 8 / 11;
}

.interests-img-hockey {
    width: 100%;
    height: 100%;

    background-image: url(/files/images/alexey-fedenkov-BaCZYH9RLmQ-unsplash.jpg);
}

.interest-mma {
    grid-column: 11 / 12;
    grid-row: 6 / 11;
}

.interests-img-mma {
    width: 100%;
    height: 100%;

    background-image: url(/files/images/alexey-fedenkov-BaCZYH9RLmQ-unsplash.jpg);
}

.interest-dogs {
    grid-column: 8 / 11;
    grid-row: 6 / 8;
}

.interests-img-dogs {
    width: 100%;
    height: 100%;

    background-image: url(/files/images/alexey-fedenkov-BaCZYH9RLmQ-unsplash.jpg);
}





/*************************************contacts*****************************/
#contacts {
    width: 85vw;
    height: auto;
    margin: 0 auto 10vh auto;

    text-align: center;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#contacts h3 {
    color: var(--color-dark-purple);
    font-size: 22px; 
}

#contacts a {
    font-size: 16px;
    color: var(--color-white);
    background-color: var(--color-purple);
    font-weight: 700;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1vh;
    border-radius: 10px;
    padding: 5px 0;
}

#contacts a:hover {
    transform: scale(1.05);
    transition: 0.8s;
}

.h2-contacts {
    grid-column: 5 / 8;
    grid-row: 1 / 2;
}

.contact-mail {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.contact-tel-cze {
    grid-column: 4 / 6;
    grid-row: 3 / 4;
}

.contact-tel-svk {
    grid-column: 7 / 9;
    grid-row: 3 / 4;
}

.contact-linkedin {
    grid-column: 10 / 12;
    grid-row: 3 / 4;
}

/**********************FOOTER************************/
.footer {
    width: 100vw;
    height: 5vh;

    background-color: var(--color-dark-grey);
    color: var(--color-lightest-grey);

    display: flex;
    justify-content: center;
    align-items: center;
}