
/************************************BASICS******************************************/ 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}





/************************************SHARED******************************************/
.uppercase {
    text-transform: uppercase;
}




/************************************NAV*********************************************/
.nav {
    width: 100vw;
    height: 100px;

    background-color: purple;

    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}



/**********************brand************************/
.brand {
    text-decoration: none;
}

.brand:hover {
    transform: scale(1.1);
    transition: 0.8s;

    color: rgb(236, 233, 233);
}

.brand h1 {
    color: rgb(218, 211, 211);
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}



/**********************navigation************************/
.navigation a {
    display: inline-block;
    text-align: center;

    padding: 10px 5px;
    border: 1px solid rgb(218, 211, 211);
    border-radius: 20px;

    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.navigation a:not(:first-child) {
    margin-left: 20px;
}

.navigation a:hover {
    transform: scale(1.1);
    transition: 0.8s;

    background-color: rgb(179, 62, 179);
}

.navigation li {
    list-style: none;
}