
/************************************BASICS******************************************/ 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}





/************************************SHARED******************************************/
.uppercase {
    text-transform: uppercase;
}




/************************************NAV*********************************************/
.nav {
    width: 100vw;
    height: 100px;

    background-color: purple;

    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}



/**********************brand************************/
.brand {
    text-decoration: none;
}

.brand:hover {
    transform: scale(1.1);
    transition: 0.8s;

    color: rgb(236, 233, 233);
}

.brand h1 {
    color: rgb(218, 211, 211);
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}



/**********************navigation************************/
.navigation a {
    display: inline-block;
    text-align: center;

    padding: 10px 5px;
    border: 1px solid rgb(218, 211, 211);
    border-radius: 20px;

    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.navigation a:not(:first-child) {
    margin-left: 20px;
}

.navigation a:hover {
    transform: scale(1.1);
    transition: 0.8s;

    background-color: rgb(179, 62, 179);
}

.navigation li {
    list-style: none;
}





/************************************HERO*********************************************/
.hero {
    width: 100vw;
    height: 90vh;
    padding-top: 25vh;

    background-color: rgb(218, 211, 211);

    display: flex;
    justify-content: center;
    gap: 5vw;
}

/**********************hero-text-container************************/
.hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 70px;
}

.hero-h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
}

.hero-h2 span {
    display: block;
}

.hero-btn {
    color: purple;
    font-size: 25px;
    background-color: rgb(191 183 183);
    text-decoration: none;
    
    width: 150px;
    text-align: center;
    padding: 10px 5px;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 30px;
}

.hero-btn:hover {
    background-color: rgb(250, 242, 242);

    transform: scale(1.1);
    transition: 0.8s;
}


/**********************hero-img-container************************/
.hero-img-container {
    width: 350px;
    height: 350px;
}

.hero-img {
    width: 100%;
    height: 100%;
    
    background-image: url(/files/images/cv\ foto.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    border: 1px solid white;
    border-radius: 50%;
}





/************************************MAIN*********************************************/
.main {
    width: 85vw;
    height: auto;
    margin: 0 auto;
    
    display: grid;
    row-gap: 10vh;
    grid-template-areas:
    "intro"
    "about-me"
    "skills"
    "projects"
    "future"
    "reviews"
    "interests"
    "contacts"
    ;
}

/**********************intro************************/
.intro {
    grid-area: intro;
}

/**********************about-me************************/
.about-me {
    grid-area: about-me;
}

/**********************skills************************/
.skills {
    grid-area: skills;
}

/**********************projects************************/
.projects {
    grid-area: projects;
}

/**********************future************************/
.future {
    grid-area: future;
}

/**********************reviews************************/
.reviews {
    grid-area: reviews;
}

/**********************interests************************/
.interests {
    grid-area: interests;
}

/**********************contacts************************/
.contacts {
    grid-area: contacts;
}